.selected {
    background-color: hsl(138, 16%, 84%) !important;
    color: rgb(255, 255, 255);
    }
    .pokemonplantes {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 15em;
    }
    .pokemonplantes li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
    }
    .pokemonplantes li.selected:hover {
    background-color: hsl(187, 32%, 80%) !important;
    color: white;
    }
    .pokemonplantes li:hover {
    color: hsl(133, 62%, 61%);
    background-color: hsl(0, 0%, 87%);
    left: .1em;
    }
    .pokemonplantes .text {
    position: relative;
    top: -3px;
    }
    .pokemonplantes .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color: hsl(133, 62%, 61%);
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
    }